<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="feeds-container w-100">
        <div class="content-container">
            <div class="stories-container mb-5">
                <h1 style="font-size: 32px; font-weight: 600; margin-bottom: 10px;">Stories</h1>
                <div class="d-flex flex-nowrap" style="overflow-x: auto;">
                    <div class="story" *ngFor="let story of stories">
                        <img [src]="story.imageUrl" alt="" class="image">
                        <p style="font-size: 10px;">{{ story.description }}</p>
                    </div>
                </div>
            </div>
            

            <div class="posts-container w-100" style="gap: 20px;">
                <div class="card form-card p-4 mb-3 ">
                    <h1 style="font-size: 32px; font-weight: 600; margin-bottom: 10px;">Create New Post</h1>
                    <div class="d-flex w-100" style="gap: 10px;">
                        <img src="{{avatar}}" alt="image" class="profile-image">
                        <div class="w-100">
                            <form class="d-flex flex-column" style="gap: 10px;" [formGroup]="regForm" #r="ngForm"
                                (ngSubmit)="onSubmit(r.value)">
                                <input placeholder="Enter Title" type="text" class="form-control" id="content"
                                    formControlName="content">
                                <input placeholder="Enter Description" type="text" class="form-control" id="description"
                                    formControlName="description">
                                <input type="text" accept="image/*" placeholder="Enter Post URL" class="form-control"
                                    id="mediaUrl" formControlName="mediaUrl">
                                <button class="btn mt-2"
                                    style="background-color: rgb(106, 71, 250); width: fit-content;box-shadow: 1px 1px 20px #000000; border-radius: 80px; color: #fff;"
                                    type="submit">Post</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card form-card p-4 mb-3 ">
                    <h1 style="font-size: 32px; font-weight: 600; margin-bottom: 10px;">Add Story</h1>
                    <div class="d-flex w-100" style="gap: 10px;">
                        <img src="{{avatar}}" alt="image" class="profile-image">
                        <div class="w-100">
                            <form [formGroup]="storyForm" class="d-flex flex-column" style="gap: 10px;"
                                (ngSubmit)="uploadStory(storyForm.value)">
                                <input placeholder="Enter Title" type="text" class="form-control" id="title"
                                    formControlName="title">
                                <input placeholder="Enter Description" type="text" class="form-control" id="description"
                                    formControlName="description">
                                <input type="text" accept="image/*" placeholder="Enter Post URL" class="form-control"
                                    id="mediaUrl" formControlName="mediaUrl">
                                <button class="btn mt-2"
                                    style="background-color: rgb(106, 71, 250); box-shadow: 1px 1px 20px #000000; width: fit-content; border-radius: 80px; color: #fff;"
                                    type="submit">Add Story</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h1>Posts</h1>
                <ul class="mb-3" *ngFor="let post of posts" style="list-style-type: none; padding: 0;">
                    <div class="card p-2 mb-3">
                        <div class="p-2 d-flex align-items-start" style="gap: 10px;">
                            <img src="{{ post.userId.avatar }}" alt="" class="posted-user-image mt-2">
                            <div class="w-100" style="padding: 0;">
                                <div class="w-100 d-flex align-items-center justify-content-between">
                                    <h1 style="font-size: 26px; padding: 0; margin: 0; font-family: 'Bree Serif';">{{
                                        post.userId.username }}</h1>
                                    <div *ngIf="userId !== post.userId._id">
                                        <button class="btn btn-outline-primary"
                                            *ngIf="!post.userId.followerId.includes(userId)"
                                            (click)="followUser(post)">Follow</button>
                                        <button class="btn btn-outline-primary"
                                            *ngIf="post.userId.followerId.includes(userId)"
                                            (click)="unfollowUser(post)">Unfollow</button>
                                    </div>
                                </div>
                                <div>
                                    <p class="m-0" style="font-size: 14px;">{{ post.content }}</p>
                                </div>
                            </div>
                        </div>
                        <p style="color: rgb(90, 90, 90); font-size: 12px;">{{post.description}}</p>
                        <img src="{{post.mediaUrl}}" alt="" class="img-fluid" style="border-radius: 10px;">
                        <div class="p-2 pt-4 d-flex align-items-start" style="gap: 10px;">
                            <div class="w-100" style="padding: 0;">
                                <div class="d-flex justify-content-between"
                                    style="border-bottom: 1px solid rgb(194, 194, 194);">
                                    <div class="d-flex align-items-center" style="gap: 20px;">
                                        <div class="d-flex align-items-center" (click)="onShowComments()">
                                            <button
                                                style="background-color: transparent; cursor: pointer; padding: 0; outline: none; border: 0;">
                                                <i class="far fa-comment"></i>
                                            </button>
                                            <p
                                                style="font-size: 14px; margin-top: 20px; margin-left: 4px; cursor: pointer;">
                                                comments</p>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <button
                                                style="background-color: transparent; cursor: pointer; padding: 0; outline: none; border: 0;"
                                                (click)="likePost(post._id)">
                                                <i class="far fa-thumbs-up"></i>
                                            </button>
                                            <p style="font-size: 14px; margin-top: 20px; margin-left: 4px;">
                                                {{post.likes}} likes</p>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <!-- <button style="background-color: transparent; cursor: pointer; padding: 0; outline: none; border: 0;">
                                                <i class="fa fa-share"></i>
                                            </button> -->
                                            <!-- <p style="font-size: 14px; margin-top: 20px; margin-left: 4px;">{{"0"}} shares</p> -->
                                        </div>
                                    </div>
                                    <div>
                                        <p class="date"
                                            style="color: rgb(111, 111, 111); font-size: 14px; margin-top: 20px;">
                                            {{post.updatedAt | date}}</p>
                                    </div>
                                </div>
                                <div class="input-group mt-4">
                                    <button class="btn btn-outline-secondary">
                                        <i class="fas fa-comment"></i>
                                    </button>
                                    <input type="text" class="form-control" placeholder="Type comment"
                                        [(ngModel)]="post.commentInput" (input)="clearCommentInput()"
                                        (keyup.enter)="sendComment(post._id, post.commentInput)">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary"
                                            (click)="sendComment(post._id, post.commentInput)">
                                            <i class="fas fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between mt-4">
                                    <div style="max-width:100%" *ngIf="showComments">
                                        <h2>Comments</h2>
                                        <div *ngFor="let comment of comments">
                                            <div class="d-flex" *ngIf="comment.postId === post._id" style="gap: 10px;">
                                                <img src="{{comment.userId.avatar}}" alt="" class="commented-image">
                                                <div class="w-100">
                                                    <h5>{{comment.userId.username}}</h5>
                                                    <div class="d-flex justify-content-between w-100">
                                                        <p
                                                            style="color: rgb(105, 105, 105); font-size: 14px; margin-right: 10px;">
                                                            {{comment.content}}</p>
                                                        <p style="color: rgb(105, 105, 105); font-size: 14px;">
                                                            {{comment.createdAt | date}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="card p-2 mb-3">
                <img src="https://img.ibxk.com.br/2022/10/05/05165346204224.jpg?ims=328x"
                    alt="" width="1000" height="700" class="center">
                <div class="p-4">
                    <h1 style="font-size: 32px;">About App</h1>
                    <div class="community-container d-flex align-items-center"
                        style="gap: 10px; color: rgb(117, 117, 117);">
                        <p>Public Community </p>
                        <p>36.2k members</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="trending-container">
        Trendings
    </div>
</div>