.sidebar {
  width: 340px;
  min-height: 90vh;
  padding: 20px;
  transition: width 0.3s;
  border-bottom: #464646;
  background-color: #909ffb;
}

.sidebar-hidden {
  width: 80px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  color: rgb(92, 92, 250);
}

.nav {
  list-style: none;
  padding: 0;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  padding: 10px;
  padding-right: 0;
  padding-left: 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #909ffb;

}

.icon {
  background-color: #e3e3e3;
  color: #fff;
  padding: 6px 11px;
  border-radius: 50%;
}

.icon:hover {
  /* background-color: rgb(73, 73, 212); */
  background-color: #e3e3e3;
  color: #030303;
  padding: 6px 11px;
  border-radius: 50%;
}

.head-icon {
  background-color: rgb(65, 65, 197);
  color: #fff;
  padding: 2px 10px;
  border-radius: 50%;
  margin-left: 0px;
}

.head-icon:hover {
  background-color: rgb(105, 105, 253);
  color: #000;
  padding: 2px 10px;
  border-radius: 50%;
  margin-left: 0px;
}

.sidebar-icon {
  margin-right: 10px;
}

.sidebar-text {
  font-size: 16px;
}

.nav-link.active {
  background-color: rgb(87, 87, 226);
  color: #000;
}

.sidebar-icon {
  font-size: 24px;
}


.image-logo {
  height: 40px;
  margin-right: 40px;
}